<div class="container-fluid register-page">

  <div class="row g-0 min-vh-100">

    <!-- ================= LEFT PANEL ================= -->

    <div class="col-lg-5 d-none d-lg-flex left-panel">

      <div class="left-content">

        <!-- Logo -->

        <div class="logo-section">

          <div class="logo-box">

            <i class="bi bi-shield-check"></i>

          </div>

          <div>

            <h3>InsureFlow</h3>

            <p>Insurance Management System</p>

          </div>

        </div>

        <!-- Welcome -->

        <div class="welcome-section">

          <h1>Create Account</h1>

          <p>
            Join InsureFlow and simplify your insurance
            management experience.
          </p>

        </div>

        <!-- Dashboard Preview -->

        <div class="dashboard-preview">

          <img
            src="assets/images/dashboard-preview.png"
            alt="Dashboard Preview">

        </div>

        <!-- Footer -->

        <div class="copyright">

          © 2025 InsureFlow. All rights reserved.

        </div>

      </div>

    </div>

    <!-- ================= RIGHT PANEL ================= -->

    <div class="col-lg-7 d-flex justify-content-center align-items-center">

      <div class="register-card">

        <div class="mb-1">

          <h2>Create Account</h2>

          <p class="text-muted mb-2">

            Fill in the details below to get started

          </p>

        </div>

        <form
          [formGroup]="registerForm"
          (ngSubmit)="register()">

          <!-- Full Name -->

          <div class="mb-1">

           <label class="form-label d-flex">
              Full Name
              <span class="text-danger fw-bold ms-1">*</span>
            </label>

            <div class="input-group">

              <span class="input-group-text">

                <i class="bi bi-person"></i>

              </span>

              <input
                type="text"
                class="form-control"
                placeholder="Enter your full name"
                formControlName="fullName">

            </div>

            <div
              class="text-danger mt-1"
              *ngIf="f['fullName'].touched && f['fullName'].invalid">

              <small *ngIf="f['fullName'].errors?.['pattern']">
                  Each word must start with a capital letter and contain only letters.
                  </small>

              <small *ngIf="f['fullName'].errors?.['minlength']">

                Minimum 3 characters required.

              </small>

              <small *ngIf="f['fullName'].errors?.['pattern']">

                Only alphabets and spaces allowed.

              </small>

            </div>

          </div>

          <!-- Email -->

          <div class="mb-1">

            <label class="form-label d-flex">
              Email Address
              <span class="text-danger fw-bold ms-1">*</span>
            </label>

            <div class="input-group">

              <span class="input-group-text">

                <i class="bi bi-envelope"></i>

              </span>

              <input
                type="email"
                class="form-control"
                placeholder="Enter your email"
                formControlName="email">

            </div>

            <div
              class="text-danger mt-1"
              *ngIf="f['email'].touched && f['email'].invalid">

              <small *ngIf="f['email'].errors?.['required']">

                Email is required.

              </small>

              <small *ngIf="f['email'].errors?.['email']">

                Enter a valid email.

              </small>

            </div>

          </div>

          <!-- Mobile Number -->

          <div class="mb-1">

            <label class="form-label d-flex">
              Mobile Number
              <span class="text-danger fw-bold ms-1">*</span>
            </label>

            <div class="input-group">

              <span class="input-group-text">

                <i class="bi bi-telephone"></i>

              </span>

              <input
                type="text"
                maxlength="10"
                class="form-control"
                placeholder="Enter mobile number"
                formControlName="mobileNumber">

            </div>

            <div
              class="text-danger mt-1"
              *ngIf="f['mobileNumber'].touched && f['mobileNumber'].invalid">

              <small *ngIf="f['mobileNumber'].errors?.['required']">
                Mobile Number is required.
              </small>

                <small *ngIf="f['mobileNumber'].errors?.['pattern']">
                  Mobile Number must contain exactly 10 digits and start with 6, 7, 8, or 9.
                </small>

              </div>

                              </div>
                              <div class="mb-1">

                      <label class="form-label d-flex">
                        Profile Photo
                      </label>

                      <input
                        type="file"
                        class="form-control"
                        accept="image/*"
                        (change)="onImageSelected($event)">

                    </div>

                    <div class="text-center mb-3" *ngIf="imagePreview">

                      <img
                        [src]="imagePreview"
                        width="90"
                        height="90"
                        class="rounded-circle border shadow-sm">
                    </div>
                              <!-- Password -->

                    <div class="mb-1">

                      <label class="form-label d-flex">
                        Password
                        <span class="text-danger fw-bold ms-1">*</span>
                      </label>

                      <div class="input-group">

                        <span class="input-group-text">
                          <i class="bi bi-lock"></i>
                        </span>

                        <input
                          [type]="hidePassword() ? 'password' : 'text'"
                          class="form-control"
                          placeholder="Create a password"
                          formControlName="password">

                      </div>

                      <!-- Password Validation Messages -->

                      <div
                        class="text-danger mt-1"
                        *ngIf="f['password'].touched && f['password'].invalid">

                        <small *ngIf="f['password'].errors?.['required']">
                          Password is required.
                        </small>

                        <small *ngIf="f['password'].errors?.['minlength']">
                          Password must be at least 8 characters.
                        </small>

                        <small *ngIf="f['password'].errors?.['pattern']">
                          Password must contain at least one uppercase letter,
                          one lowercase letter,
                          one number,
                          and one special character.
                        </small>

                      </div>

                    </div>
          <!-- Confirm Password -->

          <div class="mb-1">
          <label class="form-label d-flex">
            Confirm Password
            <span class="text-danger fw-bold ms-1">*</span>
          </label>

            <div class="input-group">

              <span class="input-group-text">

                <i class="bi bi-lock-fill"></i>

              </span>

              <input
                [type]="hideConfirmPassword() ? 'password' : 'text'"
                class="form-control"
                placeholder="Confirm your password"
                formControlName="confirmPassword">

            </div>

            <div
              class="text-danger mt-1"
              *ngIf="passwordMismatch">

              <small>

                Passwords do not match.

              </small>

            </div>

          </div>

          <!-- Terms -->

          <div class="form-check mb-1">

            <input
              class="form-check-input"
              type="checkbox"
              id="terms">

            <label
              class="form-check-label"
              for="terms">

              I agree to the

              <a href="#">

                Terms of Service

              </a>

              and

              <a href="#">

                Privacy Policy

              </a>

            </label>

          </div>

          <!-- Register Button -->

          <button
            type="submit"
            class="btn register-btn w-100"
            [disabled]="registerForm.invalid || isSubmitting()">

            <span *ngIf="!isSubmitting()">

              Create Account

            </span>

            <span *ngIf="isSubmitting()">

              <span class="spinner-border spinner-border-sm me-2"></span>

              Creating Account...

            </span>

          </button>

        </form>

        <!-- Login -->

        <div class="text-center mt-2">

          Already have an account?

          <a
            routerLink="/login"
            class="fw-bold">

            Sign In

          </a>

        </div>

      </div>

    </div>

  </div>

</div>