<div class="container-fluid p-4">

  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Edit Profile</h2>
  </div>

  <div class="card shadow border-0">

    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Update Customer Profile</h5>
    </div>

    <div class="card-body">

      @if(!isLoading()){

                <form
                  [formGroup]="editProfileForm"
                  (ngSubmit)="updateProfile()">
                  <!-- Profile Image -->
          <div class="text-center mb-4">

            <img
              [src]="imagePreview || 'https://via.placeholder.com/150'"
              alt="Profile Image"
              class="rounded-circle border shadow"
              width="150"
              height="150"
              style="object-fit: cover;">

            <div class="mt-3">

              <input
                type="file"
                accept="image/*"
                class="form-control"
                (change)="onImageSelected($event)">

            </div>

          </div>

        <div class="row">

          <!-- Date of Birth -->
          <div class="col-md-6 mb-3">

            <label class="form-label d-flex">
              Date of Birth
              <span class="text-danger fw-bold ms-1">*</span>
            </label>

            <input
              type="date"
              class="form-control"
              formControlName="dateOfBirth"
              [class.is-invalid]="editProfileForm.get('dateOfBirth')?.invalid &&
                                  editProfileForm.get('dateOfBirth')?.touched">

            <div
              class="text-danger mt-1"
              *ngIf="editProfileForm.get('dateOfBirth')?.touched">

              <small *ngIf="editProfileForm.get('dateOfBirth')?.hasError('required')">
                Date of Birth is required.
              </small>

            </div>

          </div>

          <!-- Pin Code -->
          <div class="col-md-6 mb-3">

            <label class="form-label d-flex">
              Pin Code
              <span class="text-danger fw-bold ms-1">*</span>
            </label>

            <input
              type="text"
              class="form-control"
              formControlName="pinCode"
              [class.is-invalid]="editProfileForm.get('pinCode')?.invalid &&
                                  editProfileForm.get('pinCode')?.touched">

            <div
              class="text-danger mt-1"
              *ngIf="editProfileForm.get('pinCode')?.touched">

              <small *ngIf="editProfileForm.get('pinCode')?.hasError('required')">
                Pin Code is required.
              </small>

              <small *ngIf="editProfileForm.get('pinCode')?.hasError('pattern')">
                Pin Code must contain exactly 6 digits.
              </small>

            </div>

          </div>

        </div>

        <!-- Address -->
        <div class="mb-3">

          <label class="form-label d-flex">
            Address
            <span class="text-danger fw-bold ms-1">*</span>
          </label>

          <textarea
            rows="3"
            class="form-control"
            formControlName="address"
            [class.is-invalid]="editProfileForm.get('address')?.invalid &&
                                editProfileForm.get('address')?.touched">
          </textarea>

          <div
            class="text-danger mt-1"
            *ngIf="editProfileForm.get('address')?.touched">

            <small *ngIf="editProfileForm.get('address')?.hasError('required')">
              Address is required.
            </small>

            <small *ngIf="editProfileForm.get('address')?.hasError('maxlength')">
              Address cannot exceed 250 characters.
            </small>

          </div>

        </div>

        <div class="row">

          <!-- City -->
          <div class="col-md-6 mb-3">

            <label class="form-label d-flex">
              City
              <span class="text-danger fw-bold ms-1">*</span>
            </label>

            <input
              type="text"
              class="form-control"
              formControlName="city"
              [class.is-invalid]="editProfileForm.get('city')?.invalid &&
                                  editProfileForm.get('city')?.touched">

            <div
              class="text-danger mt-1"
              *ngIf="editProfileForm.get('city')?.touched">

              <small *ngIf="editProfileForm.get('city')?.hasError('required')">
                City is required.
              </small>

              <small *ngIf="editProfileForm.get('city')?.hasError('pattern')">
                City should contain only letters.
              </small>

            </div>

          </div>

          <!-- State -->
          <div class="col-md-6 mb-3">

            <label class="form-label d-flex">
              State
              <span class="text-danger fw-bold ms-1">*</span>
            </label>

            <input
              type="text"
              class="form-control"
              formControlName="state"
              [class.is-invalid]="editProfileForm.get('state')?.invalid &&
                                  editProfileForm.get('state')?.touched">

            <div
              class="text-danger mt-1"
              *ngIf="editProfileForm.get('state')?.touched">

              <small *ngIf="editProfileForm.get('state')?.hasError('required')">
                State is required.
              </small>

              <small *ngIf="editProfileForm.get('state')?.hasError('pattern')">
                State should contain only letters.
              </small>

            </div>

          </div>

        </div>

        <div class="row">

          <!-- Nominee Name -->
          <div class="col-md-6 mb-3">

            <label class="form-label d-flex">
              Nominee Name
              <span class="text-danger fw-bold ms-1">*</span>
            </label>

            <input
              type="text"
              class="form-control"
              formControlName="nomineeName"
              [class.is-invalid]="editProfileForm.get('nomineeName')?.invalid &&
                                  editProfileForm.get('nomineeName')?.touched">

            <div
              class="text-danger mt-1"
              *ngIf="editProfileForm.get('nomineeName')?.touched">

              <small *ngIf="editProfileForm.get('nomineeName')?.hasError('required')">
                Nominee Name is required.
              </small>

              <small *ngIf="editProfileForm.get('nomineeName')?.hasError('pattern')">
                Nominee Name should contain only letters.
              </small>

            </div>

          </div>

          <!-- Nominee Relation -->
          <div class="col-md-6 mb-3">

            <label class="form-label d-flex">
              Nominee Relation
              <span class="text-danger fw-bold ms-1">*</span>
            </label>

            <input
              type="text"
              class="form-control"
              formControlName="nomineeRelation"
              [class.is-invalid]="editProfileForm.get('nomineeRelation')?.invalid &&
                                  editProfileForm.get('nomineeRelation')?.touched">

            <div
              class="text-danger mt-1"
              *ngIf="editProfileForm.get('nomineeRelation')?.touched">

              <small *ngIf="editProfileForm.get('nomineeRelation')?.hasError('required')">
                Nominee Relation is required.
              </small>

              <small *ngIf="editProfileForm.get('nomineeRelation')?.hasError('pattern')">
                Nominee Relation should contain only letters.
              </small>

            </div>

          </div>

        </div>

        <div class="mt-4">

          <button
            type="submit"
            class="btn btn-success me-2"
            [disabled]="!isFormValid()">

            Update Profile

          </button>

          <button
            type="button"
            class="btn btn-secondary"
            routerLink="/customers/my-profile">

            Cancel

          </button>

        </div>

      </form>

      }

      @else {

      <div class="text-center py-5">

        <div class="spinner-border text-primary mb-3"></div>

        <h5>Loading Profile...</h5>

      </div>

      }

    </div>

  </div>

</div>